<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>monkey-et-monkey-king</title>

    {{ $css := resources.Get "scss/main.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  </head>

  <body>

    {{ block "main" . }}
    {{ end }}
    {{ if not (isset .Params "ishome") }}
        {{partial "footer.html"}}
    {{ end }}
  </body>
</html>
