<nav>

    {{ range .Pages.ByTitle "Params.series" .Params.series}}
        {{ $.Scratch.Set "previous" .Permalink }}
    {{ end }}
    {{ range .Pages.ByTitle.Reverse "Params.series" .Params.series}}
        {{ $.Scratch.Set "next" .Permalink }}
    {{ end }}

    <ul>
        <li><a href="/">
            <img src="https://cloud.disroot.org/apps/files_sharing/publicpreview/PRFWcefm52PFd35?file=/&fileId=267118761&x=1920&y=1080&a=true&etag=641564279c8291b59dc432689d9cc75b">
            </a></li>
        <!-- <li><a href="{{ if $.Scratch.Get "previous" }}{{ $.Scratch.Get "previous" }} {{ end }}" class="{{ if not ($.Scratch.Get "previous") }}disabled {{ end }}button big previous"> -->
            <!-- <img src="/left.png"> -->
            <!-- Prev -->
        <!-- </a></li> -->
        <!-- <li><a href="{{ if $.Scratch.Get "next" }}{{ $.Scratch.Get "next" }} {{ end }}" class="{{ if not ($.Scratch.Get "next") }}disabled {{ end }}button big next"> -->
            <!-- <img src="/right.png"> -->
            <!-- Next -->
        <!-- </a></li> -->
    </ul>
    

</nav>
